@import url('https://fonts.googleapis.com/css?family=Saira:400,700,900|Saira+Semi+Condensed:400,700,900|Saira+Condensed:400,700,900|Saira+Extra+Condensed:400,700,900');

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../glyphicons-halflings-regular.ttf') format('truetype');
}

body {
	font-family: 'Saira Semi Condensed';
	color: #004600;
}

.bggreen {
	background-color: #004600;
}

.item {
	background-color: #EFEFEF;
	margin-bottom: 30px;
	padding: 20px;
}

.item img {
	margin-bottom: 20px;
	height: 200px;
}

.item h3 {
	font-family: 'Saira Condensed';
	font-size: 1.1em;
	font-weight: 700;
}

.item h4 {
	font-family: 'Saira Condensed';
	font-size: 0.8em;
}

.item h5 {
	font-family: 'Saira';
	font-weight: 900;
}

.item h6 {
	font-family: 'Saira';
	color: #E00000;
	font-weight: 700;
}

.icon {
	font-family: 'Glyphicons Halflings';
	font-size: 0.8em;
}

.icon2 {
	font-family: 'Saira Condensed';
	font-size: 1em;
	font-weight: 900;
}

.green {
	color: #8CC53E;
}

.green a, .green a:active, .green a:visited {
	color: #8CC53E;
}

.green a:hover {
	color: #FFFFFF;
}

.big {
	font-size: 1.6em;
}

.small {
	font-size: 0.7em;
}

.h80 {
	line-height: 80px;
}

.h40 {
	line-height: 40px;
}

.h20 {
	line-height: 20px;
}

.mtop20 {
	margin-top: 20px;
}

.mbottom20 {
	margin-bottom: 20px;
}

.mbottom30 {
	margin-bottom: 30px;
}

.psides30 {
	padding-right: 30px;
	padding-left: 30px; 
}

.pright15 {
	padding-right: 15px;
}

.pleft5 {
	padding-left: 5px;
}

.pleft15 {
	padding-left: 15px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.box {
	border: 1px solid #004600;
	background-color: #EFEFEF;
	width: 20px !important;
	height: 35px;
	line-height: 35px;
	margin: 0 3px;
}

.active {
	background-color: #8CC53E;
}

.iconmenu span {
	margin-right: 10px;
}

.radiobox {
	font-family: 'Saira Semi Condensed';
	color: #004600;
}

.formsearch input[type=text] {
	width: 80px;
	height: 40px;
	float: right;
	border: none;
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	-o-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.formsearch input[type=text]:focus {
	width: 100%;
	box-shadow: none;
	-webkit-transition: width 0.4s ease-in-out;
	-moz-transition: width 0.4s ease-in-out;
	-ms-transition: width 0.4s ease-in-out;
	-o-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.formsearch input[type=submit] {
	height: 40px;
	background-color: #8CC53E;
	color: #004600;
	font-size: 1.3em;
	padding: 0 10px;
}

input[type=text] {
	height: 40px;
}

input[type=submit] {
	height: 40px;
	background-color: #004600;
	color: #FFFFFF;
	font-size: 1.3em;
	padding: 0 30px;
}

input[type=submit]:hover {
	background-color: #8CC53E;
	color: #004600;
}

input[type=radio] {
	margin-right: 5px;
}

h1 {
	font-family: 'Saira';
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 900;
	color: #004600;
}

a, a:active, a:visited {
	color: #004600;
}

a:hover {
	color: #8CC53E;
}

label {
	font-family: 'Saira';
	color: #004600;
}

.b {
	border: 1px solid red;
}